*{
    margin: 0;
    padding: 0;
}

.header{
    min-height: 80vh;
    width: 100%;
    background-image:linear-gradient(rgba(255,255,255, 0.3),rgba(255,255,255, 0.3)),url(photo/background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}

nav{
    display: flex;
    padding: 3% 5%;
    justify-content: flex-end;
    align-items: flex-start;
}

.header img{
    height:auto;
    max-width: 200px;
    float: left;
}

#titlu{
    margin-bottom: 100px;
}

.nav-links{
    align-items: flex-start;
    text-align: right;
    justify-content: flex-end;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 7px 9px;
    position: relative;
}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    display: block;
    background: grey;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.5s;
}

nav .fa{
    display: none;
}

.text{
    width: 100%;
    color:black;
    position:absolute;
    text-align: center;
}

.text h1{
    font-size: 50px;
    text-align: center;
}

.text p{
    margin: 9px 0px 37px;
    color:black;
    text-align: center;
}

.noutati{
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 2px solid black;
    padding: 11px 31px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.noutati:hover{
    border: 2px solid grey;
    background: grey;
    transition: 0.5s;
}

@media(max-width: 600px){
    .text h1{
        font-size: 25px;
    }

    .text p{
        font-size: 15px;
    }

    .nav-links ul li{
        display: block;
    }

    .nav-links{
        position: absolute;
        background: grey;
        height: 120hv;
        width: 200px;
        top: 0;
        right: -300px;
        text-align: left;
        z-index: 2;
        transition: 1.5s;
    }

    nav .fa{
        display: block;
        color: black;
        margin: 9px;
        font-size: 18px;
        cursor: pointer;
    }

    .nav-links ul{
        padding: 20px;
    }

    .lin{
        flex-direction: column;
    }
}

.informatii{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 120px;
}

h1{
    font-size: 30px;
    font-weight: 500;
}

.lin{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}

.brand-col{
    flex-basis: 22%;
    background: gray;
    border-radius: 9px;
    margin-bottom: 5%;
    box-sizing: border-box;
    padding: 18px 11px;
}

h2{
    text-align: center;
    font-weight: 400;
    margin: 9px 0;
}

.Adidasi{
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.sneaker-col{
    flex-basis: 22%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-bottom: 25px;
}

.sneaker-col img{
    width: 100%;
    display: block;
}

.poza{
    background: transparent;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    position: absolute;
    transition: 0.5s;
}

.poza:hover{
    background: wheat;
}

.poza h3{
    width: 100%;
    font-weight: 400;
    color: black;
    bottom: 0;
    transform: translateY(240%);
    font-size: 20px;
    transition: 0.5s;
    opacity: 0;
}

.poza:hover h3{
    bottom: 49%;
    opacity: 1;
    text-align: center;
}